@import 'first-section';
@import 'second-section';
@import 'third-section';
@import 'fourth-section';
@import 'fifth-section';
@import 'sixth-section';
@import 'seventh-section';
@import 'eighth-section';

body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}

.main-page {
    position: relative;
    width: 100%;
}